html, body{
    width:100%;
    height:100%;
    background-color:#fff;
    }
.carousel-inner,.carousel,.item,.container-fill,.fill,.container {
  height:100%;
  width:100%;
  background-position:center center;
  background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0px;margin: 0 auto;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .slide-wrapper .container{padding:0px 16px;}
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .item.next ,  .carousel-inner > .item.active.right{ transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;}
.carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;}
.carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
position:absolute;
top:0;
bottom:0;
margin:auto;
height:20px;
right:10px; left:auto;
width:auto;
}
.carousel-indicators li{display:block; margin-bottom:5px; border:1px solid #00a199; }
.carousel-indicators li.active{margin-bottom:5px; background:#00a199;}

/*공통*/
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.container-width{width: 90.125vw; margin: 0 auto;}
.grid{padding:0px 70px;height: 100%;}
.grid_3{width: 1200px;height: 100%;margin:0 auto}
div,a{background-repeat: no-repeat;}




/*main*/

header {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 15px 0px;
}

header .container{}

header h1 {
    width: 200px;
    height: 80px;
    float: left 
}

header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-collapse {
    float: right;
    margin-top: 25px;
    padding:0px;
}

.navbar-collapse .navbar-nav li a:hover {
    color:#ff039d;
    transition: .5s;
}

.header-sub .navbar-inverse .navbar-nav>li>a:hover {
    color:#ff039d;
    transition: .5s;
}

.navbar-inverse .navbar-nav>li>a {
    color: #20000c;
    margin-left: 30px;
}

.navbar-inverse {
    background-color:transparent;
    border: none;
}

/*모바일 메뉴*/
@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:right.4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:110px;
        bottom:0;
        right: 0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
    
    .navbar-toggle {
        position: absolute;
        right: 0;
        margin-top: 25px;
    }
    
    .navbar-inverse .navbar-toggle{background-color: #303030;}
    
    .navbar-inverse .side-collapse{background-color: #303030;}
    .navbar-inverse .navbar-toggle{border-color:transparent;}
    
    .side-collapse{width: 100%;}
    
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border: none; width: 100%;}
    
    .navbar-toggle{border-radius:0;}
}
    
/*main*/
.main {
    background-color: #fff8f8;
    background-image: url(../img/main.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.main .text_box{padding-top: 15%;}
.text_box{padding-top: 20%;}

.text_box h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}

.text_box h2 {
    font-size: 18px;
    margin-bottom: 36px;
}

.text_box p {
    line-height: 36px;
    margin-bottom: 88px;
}

.main_2 {
    background-image: url(../img/about_m.png);
    background-position: bottom;
    background-size: 100%;
}

.main_2 .grid_3 {
    background-image: url(../img/about_m2.png);
    background-position: right ,bottom;
}

.main_3 {
    background-color: #fffbfb;
    background-image: url(../img/contact.png);
    background-position: left;
    background-size: 45%;
}

.main_3 .text_box{padding-left: 40%;}

.main_4 .grid_3{height:90%;}

.main_4 .text_box a{background-color: #ff039d;}

.main .text_box a {
    display: inline-block;
    width: 226px;
    height: 84px;
    border-radius: 50px;
    background-color: #ff039d;
    color:#fff;
    text-align: center;
    font-size: 22px;
    line-height: 84px;
}

.text_box a {
    display: inline-block;
    height: 68px;
    padding: 0px 76px;
    border-radius: 50px;
    background-color: #423455;
    color:#fff;
    text-align: center;
    font-size: 22px;
    line-height: 69px;
}

footer {
    height: 162px;
    border-top: 1px solid #eee;
    padding-top: 2%;
}

footer .grid h1 {
    width: 200px;
    height:32px;
    float: left;
}

footer .grid h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer_logo.png);
    background-size: 70%
}

footer .grid p {
    float: left;
    font-size: 14px;
    margin-left: 40px;
}

.sns{float: right; display: none;}
.sns a:first-child{margin-right: 30px;}

.sub-footer{height: 78px;}
.sub-footer .grid {
    width: 90.125vw;
    padding: 0px 16px;
    margin: 0 auto;
}

/*abuot*/
.navbar-nav>li>a{text-transform: uppercase;}

.header-sub{padding-bottom: 60px;}

.header-sub .navbar-inverse .navbar-nav>li>a {
    color: #303030;
}

@media screen and (max-width:768px) { /*화면크기가 768 이하인 경우*/

}


.container.container-padding{padding-bottom: 80px;}

.container-abuot .row .col-md-8 h1 {
    color:#322d3a;
    position: absolute;
    z-index: 100;
    font-size:188px;
    font-weight: bold;
    line-height:170px;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-8 h1 {
        position:static;
        font-size: 80px;
        line-height: 90px;
    }
}



.container-abuot .row .col-md-4 {
    padding-top: 72px;
    padding-left: 190px;
    padding-right: 0;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-4{padding: 16px;}
}

.container-abuot .row .col-md-4 ul li{margin-top: 28px;}

.container-abuot .row .col-md-4 ul li:first-child{margin-bottom:100px;}

.container-abuot .row .col-md-4 ul li h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.container-abuot .row .col-md-4 ul li p{margin-bottom: 0;}


.container-abuot .row .col-md-12 {
    height: 700px;
    margin-top: 80px;
    position: relative;
    background-image: url(../img/about_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-12 {
        height: 600px;
        margin-top:0px;
        background-position:17%;
    }
}

.container-abuot .row .col-md-8.col-md-offset-4{padding:80px 0 0;}

.container-abuot .row .col-md-8.col-md-offset-4 p {
    font-family: 'Raleway', sans-serif;
    font-size:40px;
    font-weight: 600;
    line-height:50px;
    color: #4e4a54;
}


.skill-box h1 {
    padding: 20px 0px 85px; 
    border-top:4px solid #303030;
    font-weight: 600;
}


.skill-box div {
    float:left;
    width: 20%;
    text-align: left;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .skill-box .div{margin-bottom: 60px;}
    .skill-box{padding: 0px 16px;}
    .skill-box div{width: 100%;margin-bottom: 86px;}
}

.skill-box div span {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 5px;
    background-color:#322d3a;
    margin-bottom: 46px;
    text-align: center;
    font-size: 36px;
    color: #ff039d;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 73px;
}
.skill-box div h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom:15px;
    text-transform: uppercase;
}

.skill-box div p {
    font-size: 15px;
    line-height: 28px;
    padding-right: 80px;
    color: #555
}

/*portfolio*/
.portf_box{height: 100%;}

.left_box {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #4402a3;
    background-image: url(../img/p_main.png);
    background-size: 70%;
    background-position: center bottom;
}

.right_box {
    float: right;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f4edff;
    padding-top:200px;
}

.right_box ul li {
    width: 50%;
    height:400px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 220px;
    padding: 16px;
    padding: 10px;
    box-shadow: 5px 10px #d1d1d1;
}

.right_box ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
}

.right_box ul li:nth-child(1) a{background-image: url(../img/bun.png)}

.right_box ul li:nth-child(2) a{background-image: url(../img/emp.png)}

.right_box ul li:nth-child(3) a{background-image: url(../img/dooson.png)}

.right_box ul li:nth-child(4) a{background-image: url(../img/ad.png)}

.right_box ul li:nth-child(5) a{background-image: url(../img/vdas.png)}


@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .left_box {
        float: none;
        width: 100%;
        height: 560px;
    }
    
    .right_box {
        float: none;
        width: 100%;
        overflow-y:none;
    }
    
    .right_box ul li {
        width:70%;
        height: 320px;
    }
}



