html, body{
    width:100%;
    height:100%;
    background-color:#fff;
    }
.carousel-inner,.carousel,.item,.container-fill,.fill,.container {
  height:100%;
  width:100%;
  background-position:center center;
  background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0px;margin: 0 auto;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .slide-wrapper .container{padding:0px 16px;}
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .item.next ,  .carousel-inner > .item.active.right{ transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;}
.carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;}
.carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
position:absolute;
top:0;
bottom:0;
margin:auto;
height:20px;
right:10px; left:auto;
width:auto;
}
.carousel-indicators li{display:block; margin-bottom:5px; border:1px solid #00a199; }
.carousel-indicators li.active{margin-bottom:5px; background:#00a199;}

/*공통*/
.container-width{width: 90.125vw; margin: 0 auto;}





/*main*/

header {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 18px;
}

header .container{}

header h1 {
    width: 80px;
    height: 80px;
    background-color: #fdc000;
    float: left 
}

header h1 a{display: block;width: 100%;height: 100%;}

.navbar-collapse{float: right;margin-top: 25px;}

.navbar-inverse .navbar-nav>li>a{color: #fff;margin-left: 30px;}

.navbar-inverse{background-color:transparent;border: none;}

/*모바일 메뉴*/
@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:right.4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:110px;
        bottom:0;
        right: 0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }
    
    .navbar-toggle {
        position: absolute;
        right: 0;
        margin-top: 25px;
    }
    
    .navbar-inverse .navbar-toggle{background-color: #303030;}
    
    .navbar-inverse .side-collapse{background-color: #303030;}
    .navbar-inverse .navbar-toggle{border-color:transparent;}
    
    .side-collapse{width: 100%;}
    
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border: none;}
    
    .navbar-toggle{border-radius:0;}
}
    






.fill .content-hr{padding-top: 116px;}

.fill .content-hr .container{padding:0px 18px;}

.fill .content-hr .container div {
    width: 431px;
    position: absolute;
    bottom: 48px;
    z-index: 30
}

.fill .content-hr .container div h1 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 42px;
}

.fill .content-hr .container div p {
    padding-right: 60px;
    margin-bottom: 42px;
    color: #fff;
}

.fill .content-hr .container a {
    display:inline-block;
    padding: 14px 35px;
    background-color: #303030
}

.fill .content-hr .container .inpo-banner {
    right:28px;
    top:200px;
    width: 50%;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .fill .content-hr .container .inpo-banner {
        top:160px;
        width:100%;
        z-index: 10;
        right: 0;
    }
}


.fill .content-hr .container .inpo-banner ul li {
    width:30%;
    height:500px;
    background-color: #faf;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fill .content-hr .container .inpo-banner ul li:nth-child(1){background-position:center left;}
.fill .content-hr .container .inpo-banner ul li:nth-child(2){margin-top: 78px;margin-left: 5%;margin-right: 5%;}
.fill .content-hr .container .inpo-banner ul li:nth-child(3){background-position:center right;;}


/*abuot*/

.header-sub{padding-bottom: 60px;}

.header-sub .navbar-inverse .navbar-nav>li>a{color: #303030;}

.container.container-padding{padding-bottom: 80px;}

.container-abuot .row .col-md-8 h1{position: absolute;z-index: 100;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-8 h1{position:sticky;}
}

.container-abuot .row .col-md-8 h1{font-size:188px;font-weight: bold;line-height:170px;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-8 h1{font-size: 80px;line-height: 90px;}
}

.container-abuot .row .col-md-4{padding-top: 72px;padding-left: 190px;padding-right: 0;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-4{padding: 16px;}
}

.container-abuot .row .col-md-4 ul li{margin-top: 28px;}

.container-abuot .row .col-md-4 ul li:first-child{margin-bottom:100px;}

.container-abuot .row .col-md-4 ul li h2{font-size: 18px;margin-bottom: 10px;}

.container-abuot .row .col-md-4 ul li p{margin-bottom: 0;}


.container-abuot .row .col-md-12 {
    height: 700px;
    margin-top: 80px;
    position: relative;
    background-image: url(../img/my.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .container-abuot .row .col-md-12 {
        height: 600px;
        margin-top:0px;
    }
}

.container-abuot .row .col-md-8.col-md-offset-4{padding:80px 0 0;}

.container-abuot .row .col-md-8.col-md-offset-4 p{font-size:40px;font-weight: bold;line-height:50px;}


.skill-box h1{padding: 20px 0px 85px; border-top:4px solid #303030;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .skill-box h1{padding:20px 16px 85px;}
}

.skill-box .col-md-3{text-align: left;}

@media screen and (max-width:992px) { /*화면크기가 768 이하인 경우*/
    .skill-box .col-md-3{margin-bottom: 60px;}
}

.skill-box .col-md-3 img{display: block; width: 84px;height: 84px;background-color: #000;;margin-bottom:40px;}

.skill-box .col-md-3 h2{font-size: 25px;margin-bottom:15px;}

.skill-box .col-md-3 p{font-size: 15px;line-height: 20px;padding-right: 80px;}









